*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100%;
    width: 100%;
}
#bg{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}
#bg>img{
    width: 100%;
    height: 100%;
}
#title{
    height: 139px;
    position: relative;
}
#title img{
    width: 78px;
    margin-left: -39px;
    margin-top: -18px;
    position: absolute;
    left: 50%;
    top: 50%;
}
#companyIntro{
    height: 50px;
    width: 100%;
    position: relative;
    z-index: 20;
    background-color: rgba(246, 247, 251, 0.8);

}
#companyIntro>p{
    color: #9D9EA1;
    font-size: 13px;
    margin-top: 26px;
    margin-left: 15px;
    position: absolute;
    z-index: 100;
}
#intro{
    border: 1px rgba(246, 247, 251, 0.8) solid;
    width: 100%;
    background-color: rgba(246, 247, 251, 0.8);
    margin-top: 6px;

}
#intro>p{
    font-size: 14px;
    margin-left: 15%;
    width: 70%;
    line-height: 23px;
    padding-top: 18px;
    padding-bottom: 28px;
}
#shopIntro{
    margin-top: 6px;
    height: 50px;
    width: 100%;
    position: relative;
    z-index: 20;
    background-color: rgba(246, 247, 251, 0.8);
}
#shopIntro>p {
    color: #9D9EA1;
    font-size: 13px;
    margin-top: 26px;
    margin-left: 15px;
    position: absolute;
    z-index: 100;
}
.shopDetail{
    height: 58px;
    background-color: rgba(246, 247, 251, 0.8);
    margin-top: 6px;
    position: relative;
}
.sLogo{
    height: 33px;
    margin-left: -17px;
    margin-top: -16.5px;
    position: absolute;
    top: 50%;
    left: 10%;
}
h4{
    height: 20px;
    width: 120px;
    margin-top: -10px;
    margin-left: -60px;
    position: absolute;
    top: 50%;
    left: 45%;
    font-weight: normal;
}
.moreArrow{
    width: 17px;
    margin-left: -8.5px;
    margin-top: -5px;
    position: absolute;
    right: 7%;
    top: 54%;
}
.shopDetail{
margin-top: 0px;
}
.shopAll ul li{
    width: 100%;
    background-color: rgba(246, 247, 251, 0.4);
    height: 90px;
    position: relative;
    list-style-type: none;
}
.shopAll ul li img{
    height: 30px;
    margin-top: -15px;
    margin-left:-17px;
    position: absolute;
    top: 50%;
    left: 25%;
}
.shopAll ul li p{
    width: 208px;
    height:45px;
    color: #F24973;
    margin-left: -104px;
    margin-top: -22.5px;
    overflow:hidden ;
    text-overflow: ellipsis;
    position: absolute;
    left: 75%;
    top: 65%;
}
#shopCase ul{
    display: none;
}


